/* ---------------------
    font-family links
--------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* Body start */
body {
    /* font-family: 'Poppins', sans-serif; */
    background: #E5E5E5;
    margin: 0;
}

/* ---------------------
    Nav bar start 
---------------------*/
.header {
    width: 100%;
    height: 100%;
    background: #562EFF;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img {
    width: 40.42px;
    height: 51px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}

nav li {
    margin-left: 36px;
    list-style: none;
}

nav li img {
    width: 51px;
    height: 51px;
}

/*---------------------------------------------------------
        main section top player and top blog
------------------------------------------------------- */
.container {
    width: 63%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 5px;
    margin-left: 285px;

}

.top-title {
    color: #562EFF;
    font-weight: 500;
    font-size: 24px;
    margin-left: 33px;
    padding-top: 33px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-left: 35px;
    margin-top: 30px;
}

.player img {
    width: 56px;
    height: 56px;
}

.player {
    display: flex;
    gap: 15px;
    font-weight: 300;
    font-size: 12px;
    color: #000000;
}

hr {
    border: 1px solid #D1D1D1;
    width: 807px;
    height: 0px;
    margin-top: 30px;
}

/* -------------------------------
        Blog start
----------------------------*/
.blogs-title {
    color: #562EFF;
    font-weight: 500;
    font-size: 24px;
    margin-left: 30px;
    padding-top: 25px;
}

.blogs {
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 33px;
}

.blog {
    display: flex;
    padding-left: 30px;
    gap: 16px;
}

.thumbnail img {
    width: 190px;
    height: 127px;
}

.blog-title {
    font-weight: 500;
    font-size: 20px;
}

.blog-author {
    font-weight: 400;
    font-size: 16px;
    color: #9F9F9F;
}

.info a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #562EFF;
}

/*-------------------------------------
        Lated Course
--------------------------------- */
.latest-course {
    width: 63%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 5px;
    margin-left: 285px;
    margin-top: 22px;

}

.latest-course-title {
    color: #562EFF;
    font-weight: 500;
    font-size: 24px;
    margin-left: 30px;
    padding-top: 25px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 30px;
    margin-top: 33px;
}

.course .course-banner img {
    width: 220px;
    height: 110px;

}

.course-info {
    display: flex;
    align-items: center;
}

.fa-star.called {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}

.course-author a {
    text-decoration: none;
    color: #ED6B4F;
}

.course-duration {
    margin-left: 20px;
    background: #FFE4E8;
    border-radius: 14.6913px;
    color: #FF4A60;
}

span {
    padding-left: 20px;
}


/*-----------------------------------
         media query
--------------------------------- */

/* mobile device */

@media only screen and (max-width: 688px) {

    nav {
        flex-direction: column;
        margin: 0px 18px 0px 0px;
    }

    .container,
    .latest-course {
        width: 100%;
        height: 100%;
        margin-left: 0;
    }

    .players,
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .courses {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;

    }

}

/* galaxy fold */
@media only screen and (min-width: 280px) and (max-width:653px) {

    .container,
    .latest-course {
        width: 100%;
        height: 100%;
        margin-left: 0;
    }

    .blog {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row: 20px;
    }
}

/* ipad and ipad mini */
@media only screen and (min-width: 688px) and (max-width:992px) {

    .container,
    .latest-course {
        width: 100%;
        height: 100%;
        margin-left: 0;
    }

    .players {
        grid-template-columns: repeat(2, 1fr);
    }

    .blogs,
    .courses {
        grid-template-columns: repeat(1, 1fr);
    }

    .courses {
        grid-gap: 20px;
    }

}